$white: #ffffff; 
$offWhite: #d8d8d8;
$softWhite: rgb(255, 255, 255, 0.6);
$background: #252525; 
$blocks: #0c0c0c;
$searchBar: #393939;
$selectOptions: #515151;
$scrollBarPosition: #818181;
$modalBackground: rgb(255, 255, 255, 0.05);
$icons: #9DACF5;