@use "./typography" as t;
@use "./palette" as p;
@use "./mixins" as m;
@use "./variables" as v;
@use "./mediaQueries" as mQ;

.resultsDisplay {
  &__container {
    display: flex;
    box-sizing: border-box;
    padding: 80px 75px 20px 20px;
    @include m.height-width(50vh, 80vw);
    background-color: p.$blocks;
    border-radius: 20px;

    @include mQ.query-phone{
      padding: 40px 30px 20px 20px;
      @include m.height-width(50vh, 100vw);
    }
  }

  &__bookContainer {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
    gap: 20px 30px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 15px 0px 0px 10px;
    @include m.height-width(100%, 100%);

    @include mQ.query-phone {
      grid-template-columns: 100%;
    }
  }

  &__card {
    position: relative;
    box-sizing: border-box;
    background-color: p.$background;
    @include m.height-width(250px, 100%);
    border-radius: 10px;

    &:hover {
      cursor: pointer;
    }

    @include mQ.query-phone {
      @include m.height-width(150px, 100%);
    }
  }

  &__cardContent {
    position: absolute;
    box-sizing: border-box;
    @include m.height-width(250px, 100%);
    left: -10px;
    top: -15px;
    display: flex;

    @include mQ.query-phone {
      @include m.height-width(150px, 100%);
    }
  }

  &__bookCover {
    height: 255px;
    width: auto;
    border-radius: 10px;
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.6));

    @include mQ.query-phone {
      @include m.height-width(155px, auto);
    }
  }

  &__bookText {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px 5px 0px 15px;
    @include m.height-width(220px, 100%);

    @include mQ.query-phone {
      @include m.height-width(125px, 100%);
    }
  } 
  
  &__titleContainer {
    display: flex;
    flex-direction: column;
    @include m.height-width(auto, 85%);
  }

  &__add {
    position: absolute;
    top: 0px;
    right: 0px;
    color: none;
    background-color: transparent;
    border: none;
  }

  &__bookTitle {
    @include m.font-fam-siz-wei-col(t.$text, 1.4rem, bold, p.$white);

    @include mQ.query-phone {
      @include m.font-fam-siz-wei-col(t.$text, 1rem, bold, p.$white);
    }
  }

  &__booksubtitle {
    @include m.font-fam-siz-wei-col(t.$text, 1rem, normal, p.$white);

    @include mQ.query-phone {
      font-size: 0.7rem;
    }
  }

  &__bookAuthor {
    @include m.font-fam-siz-wei-col(t.$text, 1rem, normal, p.$offWhite);

    @include mQ.query-phone {
      font-size: 0.7rem;
    }
  }

  &__bookDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    @include m.height-width(80px, 100%);
    @include m.font-fam-siz-wei-col(t.$text, 1rem, normal, p.$white);

    @include mQ.query-phone {
      font-size: 0.7rem;
    }
  }
}