@use "./typography" as t;
@use "./palette" as p;
@use "./mixins" as m;
@use "./variables" as v;
@use "./mediaQueries" as mQ;

.savedShelf {
  &__container {
    box-sizing: border-box;
    padding: 0px 75px;
    @include m.height-width(25vh, 80vw);
    background-color: p.$blocks;
    border-radius: 20px;
    @include mQ.query-phone{
      padding: 0px 30px;
      @include m.height-width(25vh, 100vw);
    }

    &--toggleOff {
      @include m.height-width(5vh, 80vw);
    }
  }

  &__bookContainer {
    box-sizing: border-box;
    padding: 20px 0px;
    overflow-x: scroll;
    @include m.height-width(100%, 100%);
    
    &__toggleOff {
      display: none;
    }
  }
}