* {
  scrollbar-width: thin;
  scrollbar-color: p.$icons p.$background;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: p.$background;
}

*::-webkit-scrollbar-thumb {
  background-color: p.$icons;
  border-radius: 20px;
  border: none;
}